body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.messenger {
  font-size: 10rem;
  color: blueviolet;
  position: relative;
}
.notification {
  font-size: 2rem;
  background: rgb(21, 34, 110);
  color: white;
  height: 2rem;
  width: 2rem;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -5px;
}
